<footer class="footer page-footer">
        <div class="footer-copyright">
            <div class="container">
				<a href="mailto:r951236958@gmail.com">Nick Lin</a>
				&nbsp;•&nbsp;©
                2020
                &nbsp;•&nbsp;
                <a href="https://newpage.mechnick.com/bookmarks">My Bookmarks!</a>
            </div>

        </div>

</footer>