<header>

      <div class="sidebar-container">
          <ul id="nav-mobile" class="sidenav sidenav-fixed">
              <li>
                  <div class="user-view dark-bg">
                      <a href="#user">
                          <svg class="icon md-4x white-text">
                              <use xlink:href="#robot"></use>
                          </svg>
                      </a>
                      <a href="#name">
                          <span class="white-text name">User Name</span>
                      </a>
                      <a href="#email">
                          <span class="white-text email">email@gmail.com</span>
                      </a>
                  </div>
              </li>
              <li>
                  <a href="https://translate.google.com/?hl=zh-TW&tab=TT#view=home&op=translate&sl=auto&tl=zh-CN"
                          target="_blank">
                      <i class="material-icons">g_translate</i>Google翻譯
                  </a>
              </li>
              <li>
                  <div class="divider"></div>
              </li>
              <li>
                  <a class="subheader">日常</a>
              </li>
              <li>
                  <a href="https://docs.google.com/spreadsheets/d/1gzDP5JSYbjPs3ypXvHgZXDp7hbczR5l0OxVDBulMjG0"
                          target="_blank">
                      <i class="material-icons">today</i>日報
                  </a>
              </li>
              <li>
                  <a class="dropdown-item" target="_blank"
                          href="https://docs.google.com/spreadsheets/d/1TV1tSV2tnblm0BzfWyUnQZnxxf-R3Cv_Q1-s01lJH9A">
                      <i
                              class="material-icons">add_task</i>案件進度
                  </a>
              </li>
              <!-- Dropdown Trigger -->
              <li>
                  <a class="dropdown-trigger" href="#" data-target="dropdown1">Google文件
                      <i
                              class="material-icons right">arrow_drop_down</i>
                  </a>
                  <!-- Dropdown -->
                  <ul class="dropdown-content" id="dropdown1">
                      <li>
                          <a class="subheader">Google文件</a>
                      </li>
                      <div class="divider"></div>
                      <li>
                          <a target="_blank"
                                  href="https://docs.google.com/spreadsheets/d/1mtz6488MHF6LxGPVro5X5qneZJt2Hv3SqLekWwwk0zw">數據計算</a>
                      </li>
                      <li>
                          <a target="_blank"
                                  href="https://docs.google.com/spreadsheets/d/18SWgCzsUB4rHSNl_qEe8OrlbmwGvqnZkv3wuKQznshY">篩選總表</a>
                      </li>
                      <li>
                          <a target="_blank"
                                  href="https://docs.google.com/spreadsheets/d/1BEgZRROTF-8GyU7KFfG0BT-Gkh1o9qJlzNECzQh14jI">匯入處理</a>
                      </li>
                      <li>
                          <a target="_blank"
                                  href="https://docs.google.com/spreadsheets/d/1k9zLpIV5fNq66qujBc8cWxpvCa2nTqWScxlTmowG7Ws">採購部共用</a>
                      </li>
                      <li>
                          <a target="_blank"
                                  href="https://docs.google.com/spreadsheets/d/1gqruDNC_8Dp3r5BEuD-lDiL8jlvb4rZMfvXWk1hrYHA">Jayden共用</a>
                      </li>
                      <div class="dropdown-divider"></div>
                      <li>
                          <a target="_blank"
                                  href="https://docs.google.com/document/d/1rxUeCFo3CkjF4Vj-GWdrom10mPnWe6_bKdR6CT_GjV8/edit">常用批注詞</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </header>