<div class="my-modal">
    <!-- Modal Trigger -->
    <a data-target="login-modal" class="modal-trigger"><svg class="icon icon-menu-down">
            <use xlink:href="/map.svg#menu-cool"></use>
        </svg></a>
    <!-- Modal Structure -->
    <div id="login-modal" class="modal modal-overlay">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <ul class="right hide-on-med-and-down">
                <li><a href="#!">First Sidebar Link</a></li>
                <li><a href="#!">Second Sidebar Link</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">First</a></li>
                    <li><a href="#!">Second</a></li>
                    <li><a href="#!">Third</a></li>
                    <li><a href="#!">Fourth</a></li>
                </ul>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
</div>