<nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper">
        <div class="row">
          <div class="col s12 m10 offset-m1">
            <div class="brand-logo white-text">
              <h1 class="login-logo"></h1>
              <h2 class="login-logo-header-text"><%= title %>!</h2>
          </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <a href="#" data-target="nav-mobile"
       class="top-nav sidenav-trigger blue-grey darken-4 hide-on-large-only">
      <i class="material-icons grey-text text-lighten-3">menu</i>
    </a>
  </div>