<!-- BASEN ON DRIBBBLE SHOT: https://dribbble.com/shots/2209627-UI8-Nav -->

<div class="row">
    <div class="col s12">
        <div class="container-grid">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs tabs-fixed-width grey darken-4">
                        <li class="tab col s6">
                            <a class="white-text active" href="#test1">
                                <svg class="icon icon-menu-down">
                                    <use xlink:href="/map.svg#menu-cool"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="tab col s6">
                            <a class="white-text" href="#test2">
                            <i class="material-icons">close</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="test1" class="col s12">
                    <div class="container">
                        <div class="row">
                            <h4 class="white-text">Login</h4>
                        </div>
                            <!-- 登入/登出 -->
                            <div class="sign-in-out row">
                                <a id="sign-in-or-out-button" class="button social-account-button gsigin-button button-fullwidth">
                                    <i class="icon g-normal"></i>
                                    <span class="buttonText">Sign In/Authorize</span>
                                </a>
                            </div>
                            <!-- 中斷連結 -->
                            <div class="rovoke-access row">
                                <a id="revoke-access-button" class="button social-account-button gsigin-button button-fullwidth" style="display: none;">
                                    <i class="icon g-normal"></i>
                                    <span class="buttonText">Revoke access</span>
                                </a>
                            </div>
                            <!-- 登入狀態 -->
                            <div class="login-status row">
                                <div id="auth-status" class="white-text" style="display: inline;"></div>
                                <hr>
                                <ul class="collection" id="user-profile" style="display: none;">
                                    <li id="user-name" class="collection-item"></li>
                                    <li id="user-email" class="collection-item"></li>
                                </ul>
                            </div>
    

                    </div>
                        
            </div>
            <div id="test2" class="col s12">
                <div class="container">
                    <div class="row">
                        <ul class="collection with-header">
                            <li class="collection-header grey darken-4 white-text">
                                <h4>Links</h4>
                            </li>
                            <li class="collection-item grey darken-4">
                                <a class="white-text" href="https://translate.google.com/?hl=zh-TW&tab=TT#view=home&op=translate&sl=auto&tl=zh-CN"
                                        target="_blank">
                                    <i class="material-icons">g_translate</i>Google翻譯
                                </a>
                            </li>
                            <li class="collection-item grey darken-4 white-text">
                                <a class="white-text" href="https://docs.google.com/spreadsheets/d/1gzDP5JSYbjPs3ypXvHgZXDp7hbczR5l0OxVDBulMjG0"
                                        target="_blank">
                                    <i class="material-icons">today</i>日報
                                </a>
                            </li>
                            <li class="collection-item grey darken-4">
                                <a class="dropdown-item white-text" target="_blank" href="https://docs.google.com/spreadsheets/d/1TV1tSV2tnblm0BzfWyUnQZnxxf-R3Cv_Q1-s01lJH9A">
                                    <i class="material-icons">add_task</i>案件進度
                                </a>
                            </li>
                            <li class="collection-item grey darken-4">
                                <a class="dropdown-trigger white-text" href="#!" data-target="dropdown1">
                                    Google文件
                                    <i  class="material-icons right">arrow_drop_down</i>
                                    </a>
                                </li>
                            <ul id='dropdown1' class='dropdown-content'>
                                <li>
                                    <a class="subheader">Google文件</a>
                                </li>
                                <div class="divider"></div>
                                <li>
                                    <a target="_blank" href="https://docs.google.com/spreadsheets/d/1mtz6488MHF6LxGPVro5X5qneZJt2Hv3SqLekWwwk0zw">數據計算
                                        </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://docs.google.com/spreadsheets/d/18SWgCzsUB4rHSNl_qEe8OrlbmwGvqnZkv3wuKQznshY">篩選總表
                                        </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://docs.google.com/spreadsheets/d/1BEgZRROTF-8GyU7KFfG0BT-Gkh1o9qJlzNECzQh14jI">匯入處理
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank"
                                            href="https://docs.google.com/spreadsheets/d/1k9zLpIV5fNq66qujBc8cWxpvCa2nTqWScxlTmowG7Ws">採購部共用
                                        </a>
                                </li>
                                <li>
                                    <a target="_blank"
                                            href="https://docs.google.com/spreadsheets/d/1gqruDNC_8Dp3r5BEuD-lDiL8jlvb4rZMfvXWk1hrYHA">Jayden共用
                                        </a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a target="_blank"
                                            href="https://docs.google.com/document/d/1rxUeCFo3CkjF4Vj-GWdrom10mPnWe6_bKdR6CT_GjV8/edit">常用批注詞
                                        </a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            <div class="container">

            <div class="fab-btn">
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large grey darken-2">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
                        </li>
                        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/jsdefaults %>