<!-- BASEN ON DRIBBBLE SHOT: https://dribbble.com/shots/2209627-UI8-Nav -->
<div class="row">
    <div class="col s12">
        <div class="container-grid">
            <div class="row">
                <div class="col s12" id="tabs-button">
                    <ul class="tabs tabs-fixed-width grey darken-4">
                        <li class="tab col s6">
                            <a class="white-text active" href="#tab1" id="tab1Btn">
                                <i class="material-icons md-32" id="tab1BtnIcon">list_alt</i>
                            </a>
                        </li>
                        <li class="tab col s6">
                            <a class="white-text" href="#tab2">
                                <i class="material-icons md-32">portrait</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="tab2" class="col s12">
                    <div class="container">
                        <div class="row">
                            <h4 class="white-text">Login</h4>
                        </div>
                        <div class="row">

                            <div id="ShowName" class="white-text"></div>
                            <!-- 登入/登出 -->
                            <div id="sign-in-or-out-button" class="gBtn google-oauth-signin">
                                <span class="icon"></span>
                                <span class="gBtnText signInText">Sign in with Google</span>
                            </div>


                        </div>

                        <!-- 中斷連結 -->
                        <div class="rovoke-access row">
                            <a id="revoke-access-button" class="gBtn" style="display: none;">
                                <span class="icon"></span>
                                <span class="gBtnText">Revoke access</span>
                            </a>
                        </div>
                        
                        <!-- 登入狀態 -->
                        <div class="login-status row">
                            <p class="header-text grey-text lighten-text-1">登入狀態</p>
                            <div class="white-text" style="display: inline;">

                                <p id="auth-status"></p>
                                <p id="user-name"></p>
                                <p id="user-email"></p>
                            </div>
                        </div>


                    </div>

                </div>
                <div id="tab1" class="col s12">
                    <div class="container">

                        <ul class="collection with-header">
                            <li class="collection-header grey darken-4 white-text">
                                <h4>Links</h4>
                            </li>
                            <li class="collection-item grey darken-4">
                                <a class="white-text" href="https://translate.google.com/?hl=zh-TW&tab=TT#view=home&op=translate&sl=auto&tl=zh-CN" target="_blank">
                                    <i class="material-icons left">g_translate</i>Google翻譯
                                </a>
                            </li>
                            <li class="collection-item grey darken-4">
                                <a class="white-text" href="https://docs.google.com/spreadsheets/d/1gzDP5JSYbjPs3ypXvHgZXDp7hbczR5l0OxVDBulMjG0" target="_blank">
                                    <i class="material-icons left">today</i>日報
                                </a>
                            </li>
                            <li class="collection-item grey darken-4">
                                <a class="white-text" target="_blank" href="https://docs.google.com/document/d/1rxUeCFo3CkjF4Vj-GWdrom10mPnWe6_bKdR6CT_GjV8">
                                    <i class="material-icons left">history_edu</i>批注詞
                                </a>
                            </li>
                            <li class="collection-item grey darken-4">
                                <a class="white-text" a target="_blank" href="https://docs.google.com/spreadsheets/d/1mtz6488MHF6LxGPVro5X5qneZJt2Hv3SqLekWwwk0zw">
                                    <i class="material-icons left">calculate</i>數據計算
                                </a>
                            </li>
                            <li class="collection-item grey darken-4">
                                <a class="white-text" target="_blank" href="https://docs.google.com/spreadsheets/d/18SWgCzsUB4rHSNl_qEe8OrlbmwGvqnZkv3wuKQznshY">
                                    <i class="material-icons left">filter_alt</i>篩選總表
                                </a>
                            </li>
                            <li class="collection-item grey darken-4">
                                <a class="white-text" target="_blank" href="https://docs.google.com/spreadsheets/d/1BEgZRROTF-8GyU7KFfG0BT-Gkh1o9qJlzNECzQh14jI">
                                    <i class="material-icons left">source</i>匯入處理
                                </a>
                            </li>
                            <li class="collection-item grey darken-4">
                                <a class="white-text" target="_blank" href="https://docs.google.com/spreadsheets/d/1k9zLpIV5fNq66qujBc8cWxpvCa2nTqWScxlTmowG7Ws">
                                    <i class="material-icons left">folder_shared</i>採購部共用
                                </a>
                            </li>
                            <li class="collection-item grey darken-4">
                                <a class="white-text" target="_blank" href="https://docs.google.com/spreadsheets/d/1gqruDNC_8Dp3r5BEuD-lDiL8jlvb4rZMfvXWk1hrYHA">
                                    <i class="material-icons left">folder_shared </i>Jayden共用
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>


            <div class="container">
                <div class="fab-btn">
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large grey darken-2">
                            <i class="large material-icons">mode_edit</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red modal-trigger" data-target="google-logo-modal"><i class="material-icons">insert_chart</i></a></li>
                            <li><a class="btn-floating yellow darken-1 modal-trigger" data-targer="netlify-login-modal"><i class="material-icons">format_quote</i></a>
                            </li>
                            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                        </ul>

                        <div id="google-logo-modal" class="modal">
                            <div class="modal-content">
                                <h4>Modal Header</h4>
                                <p>A bunch of text</p>
                                <p>SVG Icon</p>
                                <h3><svg class="icon icon-google-logo">
                                        <use xlink:href="/map.svg#icon-google-logo"></use>
                                    </svg></h3>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>

                        <div id="netlify-login-modal" class="modal">
                            <div class="modal-content">
                                <h4>Netlify Login</h4>
                                <!-- Netlify Idenetity Login -->
                                <div class="netlify-login row">
                                    <button data-netlify-identity-button>Login with Netlify Identity</Button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="modal-close">Close</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<% include partials/jsdefaults %>